.IconButton{
    outline: none;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover{
        cursor: pointer;
    }

    svg{
        height: 2em;
        width: 2em;
    }
}