.Summary{
    display: flex;
    width: 100%;

    svg{
        height: 3rem;
        width: 3rem;
        fill: $color-primary-dark;
        &:hover{
            fill: $color-secondary-dark;
        }
    }

    &__Icon{
        display: flex;
        color: $color-gray-dark;
        align-items: center;
        font-size: 1.6rem;
        &:last-child{
            margin-left: 2rem;
        }

        &:first-child{
            margin-right: auto;
            svg{
                fill: red;
                transition: .3s all;
                &:hover{
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
        }
    }
}

.SummarySmall{
    display: flex;

    svg{
        height: 2rem;
        width: 2rem;
        fill: $color-secondary-light;
    }

    &__Icon{
        display: flex;
        font-size: 1.4rem;
        color: $color-gray-dark;
        align-items: center;

        &:first-child{
            margin-right: 2rem;
        }

        &:last-child{
            margin-left: auto;
            svg{
                fill: red;
            }
        }
    }

}