$color-primary-light: #63b8ff;
$color-primary-dark: #836fff;

$color-secondary-light: gold;
$color-secondary-dark: goldenrod;

$color-success: yellowgreen;
$color-danger: orangered;

$color-gray-lighter: #eee;
$color-gray-light: #ddd;
$color-gray-darker: #444;
$color-gray-dark: #777;

$color-white: #fff;

//break points
$bp-small: 500px;
$bp-medium: 900px;
$bp-large: 1199px;