.Toolbar{
    background: $color-white;
    text-align: center;
    justify-self: flex-start;
    align-self: stretch;
    padding: 1rem 0 1.5rem 0;
    font-size: 2rem;
    color: $color-gray-dark;
    fill: $color-primary-dark;
    border-bottom: 1px solid $color-primary-dark;
    span{
        display: block;
        font-size: 2em;
        margin: .3rem 0 0 2rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        line-height: .8;
    }
}