.LoadMore{
    font-size: 2rem;
    padding: 1rem 0;
    display: inline-block;
    color: $color-primary-dark;
    text-decoration: underline;
    font-weight: bold;
    transition: .3s all;
    @media only screen and (max-width: $bp-small){
        font-size: 1.5rem;       
    }
    &:hover{
        cursor: pointer;
        color: $color-secondary-dark;
    }
}