.Info{
    padding: 10rem 0 3rem 0;
    background: white;
    text-align: center;
    @media only screen and (max-width: $bp-medium){
        padding: 7rem 0 3rem 0;
    }
    color: $color-gray-dark;
    h1{
        font-weight: lighter;
        span{
            font-weight: bold;
        }
    }
}
.Search{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__Container{
        padding: 3rem;
        margin: 5rem;
        text-align: center;
        width: 80vw;
        @media only screen and (max-width: $bp-large){
            width: 80%;
            padding: 2rem;
        }
        @media only screen and (max-width: $bp-small){
            width: 90%;
        }
        &:first-child{
            margin-bottom: 0;
        }
        background: white;
        border-radius: 1rem;
        small{
            font-size: 1.5rem;
            color: $color-gray-dark;
        }
    }
    &__Heading{
        color: $color-primary-dark;
        font-size: 3rem;
    }
    &__Items{
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 33rem));        
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
        @media only screen and (max-width: $bp-medium){
            grid-row-gap: 2rem;
            grid-column-gap: 1.5rem;
        }
    }
    &__LoadMore{
        font-size: 2rem;
        padding: 1rem 0;
        display: inline-block;
        color: $color-primary-dark;
        text-decoration: underline;
        font-weight: bold;
        transition: .3s all;
        &:hover{
            cursor: pointer;
            color: $color-secondary-dark;
        }
    }
    &__Count{
        font-size: 1.5rem;
        color: $color-gray-dark;
        font-weight: bold;
        text-align: right;
        padding-right: 3rem;
    }
}