.ProfileNavigation{
    padding: 2rem 1rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    background: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @media only screen and (max-width: $bp-small){
        border-radius: 0;
        font-size: 1.5rem;
        padding: 1rem;       
    }

    // &__Name{
    //     color: $color-gray-light;
    //     margin-left: 5rem;
    //     margin-right: auto;
    // }
    &__Btn{
        color: $color-gray-darker;
        padding: 1rem 2rem;
        border-bottom: 1px solid transparent;
        display: block;
        transition: all .3s;
        &:hover{
            border-color: $color-primary-dark;
            cursor: pointer;
        }
    }

    &__active{
        color: $color-primary-dark;
    }
}