.Profile{
    background: $color-gray-lighter;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    &__Data{
        padding-top: 5rem;
        margin: 5rem;
        width: 1050px;
    }
    &__Content{
        margin: 2rem 0;
        padding: 2rem;
        border-radius: 1rem;
        min-height: 50vh;
        background: white;  
    }
}