.ChatAvatar{
    width: 4rem;
    height: 4rem;
    border: .2rem solid $color-success;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    &:not(:last-child){
        margin-bottom: .8rem;
    }
    &:hover{
        cursor: pointer;
    }
}
.ChatAvatar:hover .AvatarTooltip{
    visibility: visible;
}
.AvatarTooltip{
    color: white;
    background: rgba($color-gray-darker, .7);
    white-space: nowrap;
    position: absolute;
    top: .8rem;
    left: 5rem;
    padding: .5rem .8rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    visibility: hidden;
    text-transform: capitalize;
}