.NewComment{
    padding: 3rem;
    background: white;
    width: 90%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.Comments{
    padding: 3rem 6rem;
    width: 90%;
    padding-top: 0;
    flex: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: white;
}

.NewComment{
    &__CommentBox{
        display: flex;
    }
    &__InputArea{
        margin-left: 2rem;
        outline: none;
        font-size: 1.7rem;
        padding: 1.5rem;
        border: 1px solid $color-gray-light;
        border-radius: 1rem;
        flex-basis: 88%;
        resize: none;
        height: 15rem;
        caret-color: $color-secondary-dark;
    }
    &__BtnBox{
        display: flex;
        padding-top: 2rem;
        justify-content: flex-end;
    }
}
