.NewComment{
    padding: 3rem;
    background: white;
    width: 90%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    @media only screen and (max-width: $bp-small){
        padding: 1rem;
        width: 95%;
    }
    &__CommentBox{
        display: flex;
    }
    &__InputArea{
        margin-left: 2rem;
        outline: none;
        font-size: 1.7rem;
        padding: 1.5rem;
        border: 1px solid $color-gray-light;
        border-radius: 1rem;
        flex-basis: 88%;
        resize: none;
        height: 15rem;
        caret-color: $color-secondary-dark;
        @media only screen and (max-width: $bp-large){
           font-size: 1.3rem;
           padding: 1rem;
           height: 5rem;
           margin-left: .5rem;
        }
    }
    &__BtnBox{
        display: flex;
        padding-top: 2rem;
        justify-content: flex-end;
    }
}
.NewCommentGuest{
    padding: 3rem;
    background: white;
    width: 90%;
    // border-r: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    @media only screen and (max-width: $bp-small){
        width: 95%;
        padding: 1rem;
    }
    h2{
        color: $color-gray-dark;
        font-weight: lighter;
        @media only screen and (max-width: $bp-small){
            font-size: 1rem;
        }
    }
    &__CommentBox{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
.Comments{
    padding: 3rem 6rem;
    width: 90%;
    padding-top: 0;
    flex: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: white;
    @media only screen and (max-width: $bp-small){
        padding: 1rem;
        width: 95%;
    }
}
