.Toolbar{
    background: linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 1.5rem 5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    fill: white;    
    justify-content: space-between;
    border-bottom: 1px solid white;

    a{
        margin: 0 2rem;
        transition: .3s all;    
        &:hover{
            fill: $color-tertiary;
        }
    }

    .Search{
        &__InputBox{
            position: relative;
            text-align: center;
            width: 50%;
        }
        &__Icon{
            fill: $color-primary-light;
            position: absolute;
            top: 10%;
            right: 0;
            transition: .3s all;
        }
        &__Input{
            width: 100%;
            outline: none;
            border: none;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            border-radius: 10rem;
            transition: .3s all;
            caret-color: $color-tertiary;
        }
    }

    .Buttons{
        display: flex;
    }
}