.Toolbar{
    background: $color-primary-light;
    padding: 2rem 5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    .Search{
        &__InputBox{
            position: relative;
            margin-right: auto;
            text-align: center;
            width: 50%;
        }
        &__Icon{
            fill: $color-primary-light;
            position: absolute;
            top: 10%;
            right: 5%;
            transition: .3s all;
        }
        &__Input{
            width: 100%;
            outline: none;
            border: none;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            border-radius: 10rem;
            transition: .3s all;
            color: $color-gray-dark;
            caret-color: $color-primary-dark;
        }
    }

    .Buttons{
        display: flex;
        fill: white;
        a{
            margin: 0 2rem;
            transition: .3s all;    
            &:hover{
                fill: $color-gray-light;
            }
        }
    }
}