.Chat{
    position: fixed;
    bottom: 0;
    right: 5rem;
    height: 40rem;
    width: 30rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-primary-dark;
    background: white;
    &__Box{
        display: flex;
        flex: 1;
        border-bottom: 1px solid $color-primary-dark;
    }
    &__Online{
        padding: 1rem;
        flex-direction: column;
        border-right: 1px solid $color-primary-dark;
        height: 100%;
    }
    &__Written{
        flex: 1;
    }
    &__New{
        outline: none;
        border: none;
        font-size: 1.3rem;
        padding: 1rem;
        color: $color-gray-darker;
    }
    &__Info{
        border-bottom: 1px solid $color-primary-dark;
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        background: $color-primary-dark;
        p{
            flex: 1;
            text-transform: initial;
            font-weight: lighter;
        }
    }
    &__Close{
        color: white;
        flex-basis: 2rem;
        &:hover{
            cursor: pointer;
            color: $color-secondary-light;
        }
    }
    &__Avatar{
        width: 4rem;
        height: 4rem;
        border: .2rem solid $color-success;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        position: relative;
        &:not(:last-child){
            margin-bottom: .8rem;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__Avatar:hover &__Tooltip{
        visibility: visible;
    }
    &__Tooltip{
        color: white;
        background: rgba($color-gray-darker, .7);
        white-space: nowrap;
        position: absolute;
        top: .8rem;
        left: 4rem;
        padding: .5rem .8rem;
        font-size: 1rem;
        border-radius: 1rem;
        visibility: hidden;
        text-transform: capitalize;
    }
}
.LoadMore{
    color: $color-gray-dark;
    text-align: center;
    transition: .3s all;
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}