.LearnMore{
    height: 100vh;
    margin: 0 auto;
    border-top: 2vh solid $color-primary-dark;   
    border-bottom: 2vh solid $color-primary-dark;   
    position: relative;
    overflow: hidden;

    &__TextBox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-white;
        width: 800px;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 4rem 5rem;
        font-size: 2rem;
        color: $color-gray-dark;
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
    }

    &__Paragraph{
        padding: 2rem 0;
        &:hover{
            cursor: default;
            color: $color-primary-dark;
        }
    }
    &__Heading{
        font-size: 3rem;
        padding-bottom: 1.5rem;
        color: $color-primary-dark;
        &:hover{
            cursor: default;
        }
    }
}