.FlatLink{
   padding: 1.2rem 0;
   color: $color-white;
   text-decoration: none;
   font-size: 1.6rem;
   display: block;  
   border-radius: .1rem;
   margin-bottom: 1rem;
   transition: .3s all;
   &:hover{
       box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);
   }
}
.primary{
     background: linear-gradient(to top left,
         $color-primary-light,
         $color-primary-dark
     )
}
.secondary{
     background: linear-gradient(to top left,
         $color-secondary-light,
         $color-secondary-dark
     )
}
.light{
    color: $color-gray-darker;
    margin: 0 auto;
    &:hover{
        transform: scale(1.2);
        box-shadow: none;
    }
}