.Container{
    padding: 15rem 0 10rem 0;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-medium){
        padding: 8rem 0 0rem 0;
    }
}
.Edit{
    margin: 0 5rem;
    padding: 3rem;
    background: white;
    border-radius: 1rem;
    width: 60vw;

    @media only screen and (max-width: $bp-medium){
        width: 80vw;
    }
    @media only screen and (max-width: $bp-small){
        margin: 0;
        padding: 1rem;
        width: 100%;
        border-radius: 0;
    }

    &__Heading{
        font-size: 3rem;
        color: $color-primary-dark;
    }
    &__Required{
        color: $color-gray-dark;
        margin-bottom: 2rem;
    }
}

.Submit{
    text-align: right;
    padding-top: 2rem;
    button:first-child{
        margin-right: 1rem;
    }
}