.Card{
    overflow: hidden;
    background: $color-white;
    border-radius: 1rem;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    transition: 1s all;
    @media only screen and (max-width: $bp-small){
        margin: 1rem 0;
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0 .5rem 2rem rgba(0,0,0,.5);
    }

    &__Img{
        position: relative;
        height: 25rem;
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }

    &__Info{
        padding: 2rem;
    }
    &__Heading{
        background: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
        font-size: 2.6rem;
        color: transparent;
        background-clip: text;
        font-weight: bold;
    }
}