.ProfileCover{
    // min-height: 60vh;
    height: 40rem;
    background: linear-gradient(to bottom, transparent, rgba(black, .6)), 
                url('../../assets//cover.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &__Data{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 3rem;
        &__Img{
            height: 15rem;
            width: 15rem;
            background: url('../../assets//profile.jpg');
            background-position: center;
            background-size: cover;
            margin-left: 3rem;
            border-radius:   50%;
            border: 1rem solid white;
        }
        &__Name{
            color: white;
            font-size: 5rem;
            &:hover{
                cursor: default;
            }
        }
    }
}