.MostPopular{
    padding: 10rem 7rem;
    padding-top: 7rem;
    width: 100%;    
    background: linear-gradient(to bottom left, $color-primary-light, $color-primary-dark);
    &__Cards{
        display: flex;
        justify-content: space-between;
    }
}