.Container{
    padding: 15rem 0 10rem 0;
    display: flex;
    justify-content: center;
}
.Create{
    margin: 0 5rem;
    padding: 3rem;
    background: white;
    border-radius: 1rem;
    
    min-height: 500px;
    min-width: 700px;

    &__Heading{
        font-size: 3rem;
        color: $color-primary-dark;
    }
    &__Required{
        color: $color-gray-dark;
        margin-bottom: 2rem;
    }
    &__Summary{
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.Preparation{
    padding: 2rem 0;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    &__Directions, &__Ingredients{
        display: flex;
        flex-direction: column;
    }
    &__Heading{
        display: flex;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.Submit{
    text-align: right;
    padding-top: 2rem;
    button:first-child{
        margin-right: 1rem;
    }
}