.Container{
    padding: 15rem 0 10rem 0;
    display: flex;
    justify-content: center;
}
.Create{
    margin: 0 5rem;
    background: white;
    border-radius: 1rem;
    min-height: 500px;
    min-width: 700px;
}