.Container{
    padding: 15rem 0 10rem 0;
    display: flex;
    justify-content: center;
}
.Create{
    margin: 0 5rem;
    padding: 3rem;
    background: white;
    border-radius: 1rem;
    
    min-height: 500px;
    min-width: 700px;

    &__Heading{
        font-size: 3rem;
        color: $color-primary-dark;
    }
    &__Required{
        color: $color-gray-dark;
        margin-bottom: 2rem;
    }
    &__Summary{
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.Preparation{
    padding-top: 2rem;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    &__Directions, &__Ingredients{
        display: flex;
        flex-direction: column;
    }
    &__Heading{
        display: flex;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.ImageBox{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    label{
        display: block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: $color-white;
        background: $color-secondary-dark;
        border-radius: 1rem;
        transition: .3s all;
        &:hover{
            box-shadow: 0 .3rem 1rem rgba(0,0,0,.3);
            cursor: pointer;
        }
    }
    .Img{
        height: 250px;
        width: 65%;
        border-radius: 1rem;
        background-color: $color-gray-lighter;
        background-position: center;
        background-size: cover;
        position: relative;
        p{
            color: $color-gray-light;
            position: absolute;
            font-size: 2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    input{
        display: none;
    }
}

.Submit{
    text-align: right;
    padding-top: 2rem;
    button:first-child{
        margin-right: 1rem;
    }
}