.Entry{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    &__Nav{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 7rem;
    }

    &__Search{
        position: absolute;
        border-radius: 1rem;
        top: 30%;
        left: 50%;
        width: 60vw;
        transform: translateX(-50%);
        z-index: 1;
        text-align: center;

        @media only screen and(max-width: $bp-medium){
            width: 90vw;
        }
        @media only screen and(max-width: $bp-large){
            width: 80vw;
        }
        
        &__InputBox{
            position: relative;
        }

        &__Icon{
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
            fill: $color-gray-dark;
            transition: .3s all;
        }

        &__Input{
            width: 90%;
            outline: none;
            border: none;
            padding: 1rem 2rem;
            font-size: 2rem;
            border-radius: 10rem;
            transition: .3s all;
            color: $color-gray-dark;
            box-shadow: 0rem .6rem 3.5rem rgba(0,0,0, .3);
            &:focus{
                width: 100%;
            }
        }
        &__Input:focus + &__Icon{
            right: 5%;
        }
    }

    &__ShowAll{
        text-decoration: underline;
        color: white;
        display: block;
        font-size: 2rem;
        transition: .3s all;
        margin-top: 1.5rem;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        @media only screen and(max-width: $bp-small){
            font-size: 1.7rem;
        }
    }
    
    &__Background{
        display: flex;
        height: 100vh;

        &__Gradient{
            flex: 1 45%;
            padding-left: 5rem;
            background: linear-gradient(to bottom left, rgba($color-primary-light, .75), rgba($color-primary-dark, .75)), url('/src/assets/woman-cake.jpg');
            background-size: cover;
            background-position: top;
            transform: scale(1.5);
        }

        &__Img{
            flex: 1 55%;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
            background:  linear-gradient(rgba($color-gray-light, .75), rgba($color-gray-light, .75)), url('/src/assets/baner-cake.jpg');
            background-size: cover;
            background-position: center;
            @media only screen and(max-width: $bp-large){
                display: none;
            }
        }
    
    }
}

.HeadingMain{
    color: $color-white;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1.2;
    transition: 1s all;
    margin-bottom: 3rem;

    &:hover{
        transform: scale(.9);
        cursor: default;
    }

    @media only screen and(max-width: $bp-small){
        font-size: 3rem;
    }
}