.HeadingMain{
    color: $color-white;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1.2;
    transition: 1s all;

    &:hover{
        transform: scale(.9);
        cursor: default;
    }
}

.HeadingSecondary{
    color: $color-white;
    font-size: 3.6rem;
    letter-spacing: .2rem;
}

.HeadingDark{
    font-size: 2.2rem;
    text-transform: uppercase;
    background: linear-gradient(to top left, 
        $color-primary-light, $color-primary-dark
    );
    color: transparent;
    background-clip: text;
}

.text-center{
    text-align: center;
}

.margin-top-sm{
    margin-top: 2rem;
}
.margin-top-md{
    margin-top: 4rem;
}
.margin-top-lg{
    margin-top: 8rem;
}

.margin-bottom-sm{
    margin-bottom: 2rem;
}
.margin-bottom-md{
    margin-bottom: 4rem;
}
.margin-bottom-lg{
    margin-bottom: 8rem;
}
