.HeadingMain{
    color: white;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1.2;
    transition: 1s all;

    &:hover{
        transform: scale(.9);
        color: $color-gray-lighter;
        cursor: default;
    }
}

.margin-top-sm{
    margin-top: 2rem;
}
.margin-top-md{
    margin-top: 4rem;
}
.margin-top-lg{
    margin-top: 8rem;
}

.margin-bottom-sm{
    margin-bottom: 2rem;
}
.margin-bottom-md{
    margin-bottom: 4rem;
}
.margin-bottom-lg{
    margin-bottom: 8rem;
}
