$color-primary-light: #FD7A3F;
$color-primary-dark: orangered;

$color-secondary-light: gold;
$color-secondary-dark: goldenrod;

$color-tertiary: yellowgreen;

$color-dark: #63b8ff;
$color-darker: #836fff;

$color-gray-lighter: #eee;
$color-gray-light: #ddd;
$color-gray-darker: #444;
$color-gray-dark: #777;

$color-white: #fff;