.App{
    color: yellowgreen;
    &:before{
        content: "";
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50%;
        background: palegreen;
    }
}