body{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    letter-spacing: 2rem;
    line-height: 1;
    text-align: center;
    display: flex;
}